<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%level]} %style{%d{DATE}}{blue} [%style{ %location }{blue}]- %msg%n"/>
        </Console>
        <RollingFile name="DailyRollingFile" fileName="logs/enterprise.log" filePattern="logs/enterprise-%d{dd-MM-yyyy}.log">
        	<patternLayout pattern="[%level] [%d{DATE}] [ %location ] - %msg%n"/>
        	
        	<policies>
        		<TimeBasedTriggeringPolicy interval="1" modulate="true" />
        	</policies>
        	
        	<DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="DailyRollingFile"/>
        </Root>
    </Loggers>
</Configuration>